.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
}

.content-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 10px; /* Add space between the left and right sections */
}

.add-song {
  flex: 0 0 200px; /* Fixed width for the "Add a song" section */
  padding: 10px; /* Optional: Add padding */
  border: 1px solid #ccc; /* Optional: Border for styling */
  border-radius: 5px; /* Optional: Rounded corners */
  text-align: center; /* Center-align text */
}

.grid-container {
  flex: 1; /* Let the grid take the remaining space */
}

.bad-cell-content {
  background-color: coral;
}

.App-footer {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
